In [1]:
import sqlite3

In [2]:
con=sqlite3.connect()

TypeError: Required argument 'database' (pos 1) not found

In [3]:
con=sqlite3.connect("db1")

In [4]:
cur = con.cursor()

In [5]:
cur.execute("create table customer(id int, name varchar(250))")

In [6]:
q="insert into customer(id, name) values(1,'anil')"
cur.execute(q)

In [7]:
con.commit()

In [8]:
p_id = raw_input("enter an id:")
p_name=raw_input("Enter name:")
q="insert into customer(id,name) values(%s,'%s')"%(p_id, p_name)
print q

enter an id:12
Enter name:ashok
insert into customer(id,name) values(12,'ashok')

In [9]:
p_id = raw_input("enter an id:")
p_name=raw_input("Enter name:")
q="insert into customer(id,name) values(%s,'%s')"%(p_id, p_name)
cur.execute(q)
con.commit()

enter an id:2
Enter name:jay

In [10]:
import random
names=["madhavi","sruthin","nagesh","lavanya","dharani","samba"]
for i in range(3,103):
    q="insert into customer(id,name) values(%s,'%s')"%(i, random.choice(names))
    cur.execute(q)
con.commit()

In [11]:
q="select * from customer"
cur.execute(q)

In [12]:
data = cur.fetchall()

In [13]:
print data

[(1, u'anil'), (2, u'jay'), (3, u'nagesh'), (4, u'samba'), (5, u'sruthin'), (6, u'lavanya'), (7, u'nagesh'), (8, u'samba'), (9, u'lavanya'), (10, u'samba'), (11, u'sruthin'), (12, u'nagesh'), (13, u'dharani'), (14, u'nagesh'), (15, u'lavanya'), (16, u'sruthin'), (17, u'dharani'), (18, u'sruthin'), (19, u'nagesh'), (20, u'madhavi'), (21, u'sruthin'), (22, u'sruthin'), (23, u'nagesh'), (24, u'dharani'), (25, u'nagesh'), (26, u'madhavi'), (27, u'madhavi'), (28, u'samba'), (29, u'nagesh'), (30, u'samba'), (31, u'nagesh'), (32, u'nagesh'), (33, u'lavanya'), (34, u'lavanya'), (35, u'madhavi'), (36, u'lavanya'), (37, u'lavanya'), (38, u'madhavi'), (39, u'lavanya'), (40, u'lavanya'), (41, u'lavanya'), (42, u'madhavi'), (43, u'lavanya'), (44, u'dharani'), (45, u'samba'), (46, u'lavanya'), (47, u'sruthin'), (48, u'madhavi'), (49, u'dharani'), (50, u'lavanya'), (51, u'dharani'), (52, u'sruthin'), (53, u'lavanya'), (54, u'lavanya'), (55, u'nagesh'), (56, u'sruthin'), (57, u'nagesh'), (58, u'nagesh'), (59, u'nagesh'), (60, u'sruthin'), (61, u'lavanya'), (62, u'samba'), (63, u'sruthin'), (64, u'madhavi'), (65, u'dharani'), (66, u'sruthin'), (67, u'nagesh'), (68, u'sruthin'), (69, u'samba'), (70, u'madhavi'), (71, u'sruthin'), (72, u'lavanya'), (73, u'dharani'), (74, u'lavanya'), (75, u'dharani'), (76, u'samba'), (77, u'sruthin'), (78, u'samba'), (79, u'dharani'), (80, u'lavanya'), (81, u'sruthin'), (82, u'lavanya'), (83, u'madhavi'), (84, u'madhavi'), (85, u'nagesh'), (86, u'madhavi'), (87, u'lavanya'), (88, u'samba'), (89, u'lavanya'), (90, u'madhavi'), (91, u'nagesh'), (92, u'nagesh'), (93, u'sruthin'), (94, u'nagesh'), (95, u'dharani'), (96, u'sruthin'), (97, u'sruthin'), (98, u'nagesh'), (99, u'lavanya'), (100, u'lavanya'), (101, u'nagesh'), (102, u'samba')]

In [15]:
q="select * from customer where id=20"
cur.execute(q)
print cur.fetchall()

[(20, u'madhavi')]

In [16]:
q="select * from customer where id=25"
cur.execute(q)
print cur.fetchall()

[(25, u'nagesh')]

In [17]:
q="select * from customer where name='samba'"
cur.execute(q)
print cur.fetchall()

[(4, u'samba'), (8, u'samba'), (10, u'samba'), (28, u'samba'), (30, u'samba'), (45, u'samba'), (62, u'samba'), (69, u'samba'), (76, u'samba'), (78, u'samba'), (88, u'samba'), (102, u'samba')]

In [18]:
q="select * from customer where name='samba'"
cur.execute(q)
print len(cur.fetchall())

12

In [19]:
q="select count(*) from customer where name='samba'"
cur.execute(q)
print cur.fetchall()

[(12,)]

In [20]:
p_id = raw_input("enter an id:")
q="select * from customer where id="+p_id
cur.execute(q)
row = cur.fetchall()
print row
opt = raw_input("Do you want to upadte the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    p_name = raw_input("Enter name to modify:")
    q="update customer set name='%s' where id=%s"%(p_name,p_id)
    cur.execute(q)
    con.commit()
q="select * from customer where id="+p_id
cur.execute(q)
row = cur.fetchall()
print row

enter an id:27
[(27, u'madhavi')]
Do you want to upadte the row:(y/n)y
Enter name to modify:madavi
[(27, u'madavi')]

In [21]:
p_id = raw_input("enter an id:")
q="select * from customer where id="+p_id
cur.execute(q)
row = cur.fetchall()
print row
opt = raw_input("Do you want to upadte the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    p_name = raw_input("Enter name to modify:")
    q="update customer set name='%s' where id=%s"%(p_name,p_id)
    cur.execute(q)
    con.commit()
q="select * from customer where id="+p_id
cur.execute(q)
row = cur.fetchall()
print row

enter an id:28
[(28, u'samba')]
Do you want to upadte the row:(y/n)n
[(28, u'samba')]

In [23]:
p_id = raw_input("enter an id:")
def browse(p_id):
    q="select * from customer where id="+p_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(p_id)
opt = raw_input("Do you want to upadte the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    p_name = raw_input("Enter name to modify:")
    q="update customer set name='%s' where id=%s"%(p_name,p_id)
    cur.execute(q)
    con.commit()
browse(p_id)

enter an id:30
[(30, u'samba')]
Do you want to upadte the row:(y/n)y
Enter name to modify:sambasivarao
[(30, u'sambasivarao')]

In [24]:
p_id = raw_input("enter an id:")
def browse(p_id):
    q="select * from customer where id="+p_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(p_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q="delete customer where id=%s"%(p_id)
    cur.execute(q)
    con.commit()
browse(p_id)

enter an id:12
[(12, u'nagesh')]
Do you want to delete the row:(y/n)n
[(12, u'nagesh')]

In [27]:
p_id = raw_input("enter an id:")
def browse(p_id):
    q="select * from customer where id="+p_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(p_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q="delete from customer where id=%s"%(p_id)
    cur.execute(q)
    con.commit()
browse(p_id)

enter an id:29
[(29, u'nagesh')]
Do you want to delete the row:(y/n)y
[]

In [2]:
import psycopg2