In [1]:
def fun():
    print "this is fun"
class Employee:
    print "this is employee"

this is employee

In [2]:
class Emp:
    a=100
    b=200

In [3]:
class Emp:
    a=100
    b=200
    print a,b

100 200

In [4]:
class Emp:
    a=100
    b=200
print a,b

NameError: name 'a' is not defined

In [5]:
class Emp:
    a=100
    b=200
print Emp.a,Emp.b

100 200

In [6]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print "x=",x,"y=",y
print Emp.a,Emp.b

100 200

In [7]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print "x=",x,"y=",y
print Emp.a,Emp.b
Emp.fun(100,200)

100 200

TypeError: unbound method fun() must be called with Emp instance as first argument (got int instance instead)

In [8]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print "x=",x,"y=",y
print Emp.a,Emp.b
emp1 = Emp()
Emp.fun(emp1,200)

100 200
x= <__main__.Emp instance at 0x7f8dc81b7e60> y= 200

In [9]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print "x=",x,"y=",y
print Emp.a,Emp.b
emp1 = Emp()
Emp.fun(emp1,200)
print emp1.a
print emp1.b

100 200
x= <__main__.Emp instance at 0x7f8dc81cf128> y= 200
100
200

In [10]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print "x=",x,"y=",y
print Emp.a,Emp.b
emp1 = Emp()
Emp.fun(emp1,200)
print emp1.a
print emp1.b
emp1.fun(1000,2000)

100 200
x= <__main__.Emp instance at 0x7f8dc81cf758> y= 200
100
200

TypeError: fun() takes exactly 2 arguments (3 given)

In [11]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print "x=",x,"y=",y
print Emp.a,Emp.b
emp1 = Emp()
Emp.fun(emp1,200)
print emp1.a
print emp1.b
emp1.fun(2000)

100 200
x= <__main__.Emp instance at 0x7f8dc81cf9e0> y= 200
100
200
x= <__main__.Emp instance at 0x7f8dc81cf9e0> y= 2000

In [12]:
def Emp():
    print "this is emp"
    return 10
res=Emp()

this is emp

In [13]:
class Emp:
    
    a=10
    b=20
res=Emp()

In [14]:
def emp():
    print "this is emp"
    return 10
res=emp()

this is emp

In [15]:
class Product:
    name="apple"
    cost=20
    discount=0
mango = Product()
print mango.name

apple

In [16]:
class Product:
    warehouse="kp fruitmarket"
mango = Product()
print mango.name

AttributeError: Product instance has no attribute 'name'

In [19]:
class Product:
    warehouse="kp fruitmarket"
mango = Product()
mango.name="banginpally Mango"
mango.cost=20
mango.discount=2
print mango.name,mango.cost,mango.discount, mango.warehouse

 banginpally Mango 20 2 kp fruitmarket

In [20]:
class Product:
    warehouse="kp fruitmarket"
    def get(x):
        return x.name,x.cost,x.discount, x.warehouse
mango = Product()
mango.name="banginpally Mango"
mango.cost=20
mango.discount=2
#print mango.name,mango.cost,mango.discount, mango.warehouse
print Product.get(mango)

('banginpally Mango', 20, 2, 'kp fruitmarket')

In [21]:
class Product:
    warehouse="kp fruitmarket"
    def get(x):
        return x.name,x.cost,x.discount, x.warehouse
mango = Product()
mango.name="banginpally Mango"
mango.cost=20
mango.discount=2
#print mango.name,mango.cost,mango.discount, mango.warehouse
print Product.get(mango)
orange=Product()
orange.name="Orange"
orange.cost=10
orange.discount=0.5
print Product.get(orange)

('banginpally Mango', 20, 2, 'kp fruitmarket')
('Orange', 10, 0.5, 'kp fruitmarket')

In [22]:
class Product:
    warehouse="kp fruitmarket"
    def get(x):
        return x.name,x.cost,x.discount, x.warehouse
mango = Product()
mango.name="banginpally Mango"
mango.cost=20
mango.discount=2
#print mango.name,mango.cost,mango.discount, mango.warehouse
#print Product.get(mango)
print mango.get()
orange=Product()
orange.name="Orange"
orange.cost=10
orange.discount=0.5
#print Product.get(orange)
print orange.get()

('banginpally Mango', 20, 2, 'kp fruitmarket')
('Orange', 10, 0.5, 'kp fruitmarket')

In [1]:
# class object
# data object
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    
anil = Emp()
pavan=Emp()
anil.name="Anil kumar"
anil.age=23
anil.sal=23456
pavan.name="Pavan kumar"
pavan.age=24
pavan.sal=34567
print Emp.companyname
print Emp.companyaddress

Khyaathi
maithrivanam

In [3]:
# class object
# data object
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    
anil = Emp()
pavan=Emp()
anil.name="Anil kumar"
anil.age=23
anil.sal=23456
pavan.name="Pavan kumar"
pavan.age=24
pavan.sal=34567
print Emp.companyname
print Emp.companyaddress
print anil.companyaddress
print pavan.companyaddress
print pavan.name
print anil.name

Khyaathi
maithrivanam
maithrivanam
maithrivanam
Pavan kumar
Anil kumar

In [4]:
# class object
# data object
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    
anil = Emp()
pavan=Emp()
anil.name="Anil kumar"
anil.age=23
anil.sal=23456
pavan.name="Pavan kumar"
pavan.age=24
pavan.sal=34567
print Emp.companyname
print Emp.companyaddress
print anil.companyaddress
print pavan.companyaddress
print pavan.name
print anil.name
print Emp.name

Khyaathi
maithrivanam
maithrivanam
maithrivanam
Pavan kumar
Anil kumar

AttributeError: class Emp has no attribute 'name'

In [5]:
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    
anil = Emp()
pavan=Emp()
anil.name="Anil kumar"
print anil.name
print pavan.name

Anil kumar

AttributeError: Emp instance has no attribute 'name'

In [6]:
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    def get(x):
        return x.name, x.age,x.sal,x.companyname, x.companyaddress
    
anil = Emp()
pavan=Emp()
anil.name="Anil kumar"
anil.age=23
anil.sal=23456
pavan.name="Pavan kumar"
pavan.age=24
pavan.sal=34567
print Emp.get(anil)

('Anil kumar', 23, 23456, 'Khyaathi', 'maithrivanam')

In [7]:
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    def get(x):
        return x.name, x.age,x.sal,x.companyname, x.companyaddress
    
anil = Emp()
pavan=Emp()
anil.name="Anil kumar"
anil.age=23
anil.sal=23456
pavan.name="Pavan kumar"
pavan.age=24
pavan.sal=34567
print Emp.get(anil)
print Emp.get(pavan)

('Anil kumar', 23, 23456, 'Khyaathi', 'maithrivanam')
('Pavan kumar', 24, 34567, 'Khyaathi', 'maithrivanam')

In [8]:
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    def get(x):
        return x.name, x.age,x.sal,x.companyname, x.companyaddress
    
anil = Emp()
pavan=Emp()
anil.name="Anil kumar"
anil.age=23
anil.sal=23456
pavan.name="Pavan kumar"
pavan.age=24
pavan.sal=34567
#print Emp.get(anil)
print anil.get()
#print Emp.get(pavan)
print pavan.get()

('Anil kumar', 23, 23456, 'Khyaathi', 'maithrivanam')
('Pavan kumar', 24, 34567, 'Khyaathi', 'maithrivanam')

In [9]:
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    def get(self):
        return self.name, self.age,self.sal,self.companyname, self.companyaddress
    
anil = Emp()
pavan=Emp()
anil.name="Anil kumar"
anil.age=23
anil.sal=23456
pavan.name="Pavan kumar"
pavan.age=24
pavan.sal=34567
print anil.get()
print pavan.get()

('Anil kumar', 23, 23456, 'Khyaathi', 'maithrivanam')
('Pavan kumar', 24, 34567, 'Khyaathi', 'maithrivanam')

In [10]:
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    def set_data(self,e_name, e_age,e_sal):
        self.name=e_name
        self.age=e_age
        self.sal=e_sal
        
    def get(self):
        return self.name, self.age,self.sal,self.companyname, self.companyaddress
    
anil = Emp()
pavan=Emp()
anil.set_data("anil kumar",23,234567)
'''
anil.name="Anil kumar"
anil.age=23
anil.sal=23456
'''
'''
pavan.name="Pavan kumar"
pavan.age=24
pavan.sal=34567
'''
pavan.set_data("pavan kumar",32,4567890)
print anil.get()
print pavan.get()

('anil kumar', 23, 234567, 'Khyaathi', 'maithrivanam')
('pavan kumar', 32, 4567890, 'Khyaathi', 'maithrivanam')

In [11]:
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    def set_data(self,e_name, e_age,e_sal):
        self.name=e_name
        self.age=e_age
        self.sal=e_sal
        
    def get(self):
        return self.name, self.age,self.sal,self.companyname, self.companyaddress
    
anil = Emp()
pavan=Emp()
anil.set_data("anil kumar",23,234567)
pavan.set_data("pavan kumar",32,4567890)
print anil.get()
print pavan.get()

('anil kumar', 23, 234567, 'Khyaathi', 'maithrivanam')
('pavan kumar', 32, 4567890, 'Khyaathi', 'maithrivanam')

In [12]:
class Emp:
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    def set_data(self,e_name, e_age,e_sal):
        self.name=e_name
        self.age=e_age
        self.sal=e_sal
        
    def get(self):
        return self.name, self.age,self.sal,self.companyname, self.companyaddress
    
anil = Emp()
pavan=Emp()
jay=Emp()
anil.set_data("anil kumar",23,234567)
pavan.set_data("pavan kumar",32,4567890)
print anil.get()
print pavan.get()
print jay.get()

('anil kumar', 23, 234567, 'Khyaathi', 'maithrivanam')
('pavan kumar', 32, 4567890, 'Khyaathi', 'maithrivanam')

AttributeError: Emp instance has no attribute 'name'

In [13]:
class Emp:
    print "this is class"
    def get(self):
        print "this is get"
    def __init__(self):
        print "this is init"

this is class

In [14]:
class Emp:
    print "this is class"
    def get(self):
        print "this is get"
    def __init__(self):
        print "this is init"
anil=Emp()

this is class
this is init

In [15]:
class Emp:
    print "this is class"
    def get(self):
        print "this is get"
    def __init1__(self):
        print "this is init"
anil=Emp()

this is class

In [17]:
class Emp:
    print "this is class"
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    def get(self):
        print "this is get"
        return self.name, self.age,self.height,self.companyname, self.companyaddress
    def __init__(self,e_name,e_age,e_height):
        # constructor. To intialize the data while creating an instance.
        print "this is init"
        self.name=e_name
        self.age=e_age
        self.height=e_height
anil=Emp("anil kumar",23,5.6)
pavan=Emp("pavan kumar",32,5.7)
print anil.get()
print pavan.get()

this is class
this is init
this is init
this is get
('anil kumar', 23, 5.6, 'Khyaathi', 'maithrivanam')
this is get
('pavan kumar', 32, 5.7, 'Khyaathi', 'maithrivanam')

In [18]:
class Emp:
    print "this is class"
    companyname="Khyaathi"
    companyaddress="maithrivanam"
    def get(self):
        print "this is get"
        return self.name, self.age,self.height,self.companyname, self.companyaddress
    def __init__(self,e_name,e_age,e_height):
        # constructor. To intialize the data while creating an instance.
        print "this is init"
        self.name=e_name
        self.age=e_age
        self.height=e_height
anil=Emp("anil kumar",23,5.6)
pavan=Emp("pavan kumar",32,5.7)
jay=Emp()
print anil.get()
print pavan.get()

this is class
this is init
this is init

TypeError: __init__() takes exactly 4 arguments (1 given)