In [1]:
a=1000
b=2000
c=a+b
print c

3000

In [2]:
a=1000
b=2000
print a

1000

In [3]:
a=1000
b=2000
print b

2000

In [4]:
print "a"

a

In [5]:
print a
print "a"

1000
a

In [6]:
"""
int a
a=1000
a=123456789654321123456
a="str1"
"""
a=1000
a="str1"

In [7]:
a=1000
b=2000
print type(a)

<type 'int'>

In [10]:
a=1000
print (a, type(a))
a="str1"
print (a, type(a))
a=1.23
print (a, type(a))
a=1+2j
print (a, type(a))
a=[10,"str1",1.23,1+2j]
print (a, type(a))
a=(10,"str1",1.23,1+2j)
print (a, type(a))
a={1:2,3:4}
print (a, type(a))
a={1,2,3,4,}
print (a, type(a))
a=None
print (a, type(a))
a=True
print (a, type(a))
a=False
print (a, type(a))

(1000, <type 'int'>)
('str1', <type 'str'>)
(1.23, <type 'float'>)
((1+2j), <type 'complex'>)
([10, 'str1', 1.23, (1+2j)], <type 'list'>)
((10, 'str1', 1.23, (1+2j)), <type 'tuple'>)
({1: 2, 3: 4}, <type 'dict'>)
(set([1, 2, 3, 4]), <type 'set'>)
(None, <type 'NoneType'>)
(True, <type 'bool'>)
(False, <type 'bool'>)

In [12]:
a=1000
b=2000
# arithmatic operations
print a+b
print a-b
print a*b
print a/b
print a%2
print a**2
# boolean operations
print a>b
print a<b
print a>=b
print a<=b
print a==b
print a is b
print a !=b
# print a in b

# bitwise operations
print a&b
print a|b
print a^b
print a<<2
print a>>2

3000
-1000
2000000
0
0
1000000
False
True
False
True
False
False
True
960
2040
1080
4000
250

In [1]:
# TRY above operations with all the datatypes. Write conclusion document.
#9676622023

In [2]:
s1="str1"
s2="str2"
print s1+s2

str1str2

In [3]:
print s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [4]:
print s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [7]:
a=10
b="10"
c='10'
d=a
e="a"
f='a'
print "a=",a,type(a)
print "b=",b,type(b)
print "c=",c,type(c)
print "d=",d,type(d)
print "e=",e,type(e)
print "f=",f,type(f)

a= 10 <type 'int'>
b= 10 <type 'str'>
c= 10 <type 'str'>
d= 10 <type 'int'>
e= a <type 'str'>
f= a <type 'str'>

In [8]:
a=1000
b=2000
c=[a,b,3000]
d=(a,b,4000)
e=["a","b",3000]
f=("a","b",4000)
print "a=",a,type(a)
print "b=",b,type(b)
print "c=",c,type(c)
print "d=",d,type(d)
print "e=",e,type(e)
print "f=",f,type(f)

a= 1000 <type 'int'>
b= 2000 <type 'int'>
c= [1000, 2000, 3000] <type 'list'>
d= (1000, 2000, 4000) <type 'tuple'>
e= ['a', 'b', 3000] <type 'list'>
f= ('a', 'b', 4000) <type 'tuple'>

In [10]:
l=["1000","2000",100,12.34,[10,20,3]]
print l

['1000', '2000', 100, 12.34, [10, 20, 3]]

In [11]:
print "10"
print 10

10
10

In [12]:
a=10
b=20
print a+b

30

In [13]:
a=10
b=20.23
print a+b

30.23

In [14]:
a=10
print float(a)

10.0

In [15]:
a=10
b=1.2
c=1+2j
print a+b+c

(12.2+2j)

In [16]:
a="cost price:"
b=23.45
print a+b

TypeError: cannot concatenate 'str' and 'float' objects

In [17]:
a="cost price:"
b="23.45"
print a+b

cost price:23.45

In [18]:
s1="str1"
s2="str2"
print s1+s2

str1str2

In [19]:
a=10.23
b=23.45
print a+b

33.68

In [20]:
c="cost price:"
d=34.56
print c+d

TypeError: cannot concatenate 'str' and 'float' objects

In [21]:
c1="10"
c2=20
c1+c2

TypeError: cannot concatenate 'str' and 'int' objects

In [22]:
c="cost price:"
d=34.56
print c+str(d)

cost price:34.56

In [23]:
a="10"
b=20
print a+b

TypeError: cannot concatenate 'str' and 'int' objects

In [24]:
a="10"
b=20
print a+str(b)

1020

In [25]:
a="10"
b=20
print int(a)+b

30

In [26]:
a="10"
print a,type(a)
b=int(a)
print b, type(b)

10 <type 'str'>
10 <type 'int'>

In [27]:
a='10'
print a,type(a)
b=int(a)
print b, type(b)

10 <type 'str'>
10 <type 'int'>

In [28]:
a=1000
b=2000
c=a
d=c
e=a+b
f=1000
g=2000
print "a=",a
print "b=",b
print "c=",c
print "d=",d
print "e=",e
print "f=",f

a= 1000
b= 2000
c= 1000
d= 1000
e= 3000
f= 1000

In [1]:
a1=1000
b1=2000
c1=a1
d1=b1
e1=1000
a1=5000
e1=6000
b1=7000
d1=8000

In [2]:
e=10

In [4]:
e=15+20/5
print e

19

In [5]:
e=(15+20)/5
print e

7

In [6]:
print 100/20/4

1

In [7]:
#(a+b)3
a=10
b=20
print a**3

1000

In [8]:
print a*3

30

In [9]:
a=10
b=20
print a+b**3
print (a+b)**3

8010
27000

In [10]:
a=10
b=20
print a+b**3
print (a+b)**3
print a**3+b**3+3*a**2*b+3*a*b**2
print a**3+b**3+3*a*b*a+b
print a**3+b**3+3*a*b*(a+b)

8010
27000
27000
15020
27000

In [11]:
a=10
print a**6

1000000

In [12]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print a+b

Enter a value:10
Enter b value:20
1020

In [13]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print a+b

Enter a value:python
Enter b value:program
python program

In [14]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print a+b
print type(a)
print type(b)

Enter a value:python
Enter b value:program
pythonprogram
<type 'str'>
<type 'str'>

In [15]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print a+b
print type(a)
print type(b)

Enter a value:python
Enter b value:10
python10
<type 'str'>
<type 'str'>

In [16]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print a+b
print type(a)
print type(b)

Enter a value:10
Enter b value:20
1020
<type 'str'>
<type 'str'>

In [17]:
a=10
b=20
print a+b

30

In [18]:
a="10"
b="20"
print a+b

1020

In [19]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print a+b
print type(a)
print type(b)

Enter a value:[10,20,30,40]
Enter b value:(20,30,40,50)
[10,20,30,40](20,30,40,50)
<type 'str'>
<type 'str'>

In [21]:
a=[10,20,30,40]
b=[20,30,40,50]
print type(a)
print type(b)
print a+b

<type 'list'>
<type 'list'>
[10, 20, 30, 40, 20, 30, 40, 50]

In [22]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print a+b
print type(a)
print type(b)

Enter a value:[10,20,30,40]
Enter b value:[20,30,40,50]
[10,20,30,40][20,30,40,50]
<type 'str'>
<type 'str'>

In [23]:
a="[10,20,30,40]"
print type(a)

<type 'str'>

In [25]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print "a=",a, type(a)
print "b=",b, type(b)

Enter a value:10
Enter b value:10
a= 10 <type 'str'>
b= 10 <type 'int'>

In [26]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print "a=",a, type(a)
print "b=",b, type(b)

Enter a value:10.23
Enter b value:10.23
a= 10.23 <type 'str'>
b= 10.23 <type 'float'>

In [27]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print "a=",a, type(a)
print "b=",b, type(b)

Enter a value:1+2j
Enter b value:1+2j
a= 1+2j <type 'str'>
b= (1+2j) <type 'complex'>

In [28]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print "a=",a, type(a)
print "b=",b, type(b)

Enter a value:[1,2,3,4]
Enter b value:[1,2,3,4]
a= [1,2,3,4] <type 'str'>
b= [1, 2, 3, 4] <type 'list'>

In [30]:
b=input("Enter b value:")
print b, type(b)

Enter b value:"pyuton"
pyuton <type 'str'>

In [31]:
b=input("Enter b value:")
print b, type(b)

Enter b value:python

NameError: name 'python' is not defined

In [32]:
a="python"

In [35]:
a=10
b=20
c=a
d="g"
f=g

NameError: name 'g' is not defined

In [36]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print a+b

Enter a value:10
Enter b value:20
1020

In [37]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
a=int(a)
b=int(b)
print a+b

Enter a value:10
Enter b value:20
30

In [38]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
a=int(a)
b=int(b)
print a+b

Enter a value:10.23
Enter b value:45.67

ValueError: invalid literal for int() with base 10: '10.23'

In [39]:
int(23.45)

23

In [40]:
int("23.45")

ValueError: invalid literal for int() with base 10: '23.45'

In [41]:
float("23.45")

23.45

In [43]:
float("23")

23.0

In [44]:
float("12anjf")

ValueError: invalid literal for float(): 12anjf

In [45]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
a=float(a)
b=float(b)
print a+b

Enter a value:12
Enter b value:34
46.0

In [46]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
a=float(a)
b=float(b)
print a+b

Enter a value:23.45
Enter b value:67.89
91.34

In [47]:
import math
math.sqrt(25)

5.0

In [1]:
a=5
b=9
print a/b

0

In [2]:
a=5
b=9
print a/float(b)

0.555555555556

In [1]:
NAME="Anil"

In [2]:
customer_name="sfsdf"

In [3]:
customer_name2="sfsdf"

In [4]:
2customer_name="sfsdf"

SyntaxError: invalid syntax (<ipython-input-4-836e93f7a907>, line 1)

In [5]:
customer_name$="sfsdf"

SyntaxError: invalid syntax (<ipython-input-5-97a02b7e3aa7>, line 1)

In [6]:
customer name="sfsdf"

SyntaxError: invalid syntax (<ipython-input-6-9fa54d173f3f>, line 1)

In [7]:
__customer_name="sfsdf"

In [9]:
import keyword

In [10]:
keyword.kwlist

['and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'exec',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'not',
 'or',
 'pass',
 'print',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [11]:
and=10

SyntaxError: invalid syntax (<ipython-input-11-9623b2dff66a>, line 1)

In [12]:
print=234

SyntaxError: invalid syntax (<ipython-input-12-d68f757d609c>, line 1)

In [13]:
fruit_name="apple"
fruit_cost=20
# apple cost is:20
print "apple cost is:20"

apple cost is:20

In [14]:
fruit_name="apple"
fruit_cost=20
# fruit_name value cost is:fruit_cost value
print "apple cost is:20"
print fruit_name

apple cost is:20
apple

In [15]:
fruit_name="apple"
fruit_cost=20
# fruit_name value cost is:fruit_cost value
print "apple cost is:20"
print fruit_name,"cost is:"

apple cost is:20
apple cost is:

In [16]:
fruit_name="apple"
fruit_cost=20
# fruit_name value cost is:fruit_cost value
print "apple cost is:20"
print fruit_name,"cost is:",fruit_cost

apple cost is:20
apple cost is: 20

In [18]:
fruit_name="banana"
fruit_cost=12
# fruit_name value cost is:fruit_cost value
print "banana cost is:12"
print fruit_name,"cost is:",fruit_cost

banana cost is:12
banana cost is: 12

In [19]:
fruit_name="banana"
fruit_cost=12
# fruit_name value cost is:fruit_cost value
print "banana cost is:12"
print fruit_name,"cost is:"fruit_cost

SyntaxError: invalid syntax (<ipython-input-19-323cce9a4173>, line 5)

In [20]:
fruit_name="banana"
fruit_cost=12
# fruit_name value cost is:fruit_cost value
print "banana cost is:12"
print fruit_name,"cost is:"+fruit_cost

banana cost is:12
banana

TypeError: cannot concatenate 'str' and 'int' objects

In [21]:
fruit_name="banana"
fruit_cost=12
# fruit_name value cost is:fruit_cost value
print "banana cost is:12"
print fruit_name,"cost is:"+str(fruit_cost)

 banana cost is:12
banana cost is:12

In [22]:
fruit_name="banana"
fruit_cost=12
print "banana cost is:12"
print fruit_name,"cost is:"+str(fruit_cost)

banana cost is:12
banana cost is:12

In [24]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil

In [25]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight:

In [26]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:",weight

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight: 70.45

In [27]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+weight

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil

TypeError: cannot concatenate 'str' and 'float' objects

In [28]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+str(weight)

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight:70.45

In [29]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+str(weight)+","

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight:70.45,

In [31]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+str(weight)+", Age:"

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight:70.45, Age:

In [33]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+str(weight)+", Age:",age

 The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight:70.45, Age: 23

In [34]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+str(weight)+", Age:"+age

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil

TypeError: cannot concatenate 'str' and 'int' objects

In [35]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+str(weight)+", Age:"+str(age)

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight:70.45, Age:23

In [36]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+str(weight)+", Age:"+str(age)+", Height:"

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight:70.45, Age:23, Height:

In [37]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+str(weight)+", Age:"+str(age)+", Height:"+str(height)

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight:70.45, Age:23, Height:5.67895

In [39]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+str(weight)+", Age:"+str(age)+", Height:"+str(height)+", Name:"+name

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil

In [40]:
name="anil"
age=23
height=5.67895
weight=70.45
print "The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil"
print "The person details are Weight:"+str(weight)+", Age:"+str(age)+", Height:"+\
str(height)+", Name:"+name

The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil
The person details are Weight:70.45, Age:23, Height:5.67895, Name:anil

In [41]:
# speical symbols in string
s="python is\t pure object oriented programing language"
print s

python is	 pure object oriented programing language

In [42]:
# speical symbols in string
s="python is\t pure object oriented\n programing language"
print s

python is	 pure object oriented
 programing language

In [43]:
s="python is\t pure object oriented\n programing language"
print s
s1=r"python is\t pure object oriented\n programing language"
print s1

python is	 pure object oriented
 programing language
python is\t pure object oriented\n programing language

In [44]:
# It's cool day in hyderabad. 
print "It's cool day in hyderabad."

It's cool day in hyderabad.

In [45]:
# It's cool day in hyderabad. 
print 'It's cool day in hyderabad.'

SyntaxError: invalid syntax (<ipython-input-45-0ed9a61b784d>, line 2)

In [46]:
# It's cool day in hyderabad. 
print 'It\'s cool day in hyderabad.'

It's cool day in hyderabad.

In [47]:
# It's cool day in "hyderabad". 
print 'It\'s cool day in "hyderabad".'

It's cool day in "hyderabad".

In [48]:
# It's cool day in "hyderabad". 
print "It's cool day in \"hyderabad\"."

It's cool day in "hyderabad".

In [49]:
#cost of the product:35
product_cost=35
print "cost of the product:"+str(product_cost)

cost of the product:35

In [51]:
#cost of the product:35
product_cost=35
print "cost of the product:"+str(product_cost)
print "cost of the product:%s"%product_cost

cost of the product:35
cost of the product:35

In [52]:
# fromat specifiers: %s, %d, %f, %o,%x,%r
print "%s,%d,%r,%f,%o,%x"

%s,%d,%r,%f,%o,%x

In [53]:
print "%o",1234

%o 1234

In [54]:
print "%o"%1234

2322

In [56]:
print oct(1234)

02322

In [57]:
s="%o"%1234
print s
print type(s)

2322
<type 'str'>

In [58]:
#cost of the product:35
product_cost=35
s="cost of the product:"+str(product_cost)
print s
print type(s)

cost of the product:35
<type 'str'>

In [60]:
#cost of the product:35
product_cost=35
s="cost of the product:"+str(product_cost)
s1="cost of the product:%s"%product_cost
print s
print s1

cost of the product:35
cost of the product:35

In [61]:
height=5.63456789
print "Height of the person:"+str(height)

Height of the person:5.63456789

In [62]:
height=5.63456789
print "Height of the person:"+str(int(height))

Height of the person:5

In [63]:
height=5.63456789
print "Height of the person:"+str(int(height))
print "Height of the person:%d"%height

Height of the person:5
Height of the person:5

In [64]:
height=5.63456789
print "Height of the person:"+str(int(height))
print "Height of the person:%d"%height
print "Height of the person:%s"%height

Height of the person:5
Height of the person:5
Height of the person:5.63456789

In [65]:
height=5.63456789
print "Height of the person:"+str(int(height))
print "Height of the person:%d"%height
print "Height of the person:%s"%height
print "Height of the person:%f"%height

Height of the person:5
Height of the person:5
Height of the person:5.63456789
Height of the person:5.634568

In [66]:
height=5.63456789
print "Height of the person:"+str(int(height))
print "Height of the person:%d"%height
print "Height of the person:%s"%height
print "Height of the person:%f"%height
print "Height of the person:%.2f"%height

Height of the person:5
Height of the person:5
Height of the person:5.63456789
Height of the person:5.634568
Height of the person:5.63

In [69]:
s1="this is line1\n this is line2"
print s1
print "*"*20
print "%s"%s1

this is line1
 this is line2
********************
this is line1
 this is line2

In [71]:
s1="this is line1\n this is line2"
print s1
print "*"*20
print "%s"%s1
s2=r's1

SyntaxError: EOL while scanning string literal (<ipython-input-71-083175f49c59>, line 5)

In [72]:
s1="this is line1\n this is line2"
print s1
print "*"*20
print "%s"%s1
s2="%r"%s1

print s2

this is line1
 this is line2
********************
this is line1
 this is line2
'this is line1\n this is line2'

In [73]:
s1="this is line1\n this is line2"
print %s1

SyntaxError: invalid syntax (<ipython-input-73-8e21ed8176a0>, line 2)

In [75]:
s1="this is line1\n this is line2"
print "%s1"

%s1

In [76]:
s1="this is line1\n this is line2"
print "%s1",20

%s1 20

In [77]:
s1="this is line1\n this is line2"
print "%s1"%20

201